body{
    background: aqua;
}
.container{
    max-width: 1000px;
    margin: auto;
    background: lightcoral;
}

.main-img img, .imgs img{
    width: 100%;
}

.imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}